body {
  @include sprites($spritesheet-sprites);
}

.infos-top-layout {
  .title-top {
    @include font-bitter;
    position: absolute;
    top: 38px;
    right: $gap * 2;
    font-weight: bold;
    font-size: 1.875rem;
    color: $brown-dark;
    background-color: $brown-light;
    padding: 0 $gap/2;
    border-radius: 20px;
  }

  .subtitle-top {
    @include font-neosans-medium;
    width: 472px;
    font-size: 1.25rem;
    position: absolute;
    top: 96px;
    right: $gap * 2;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.02em;
  }
}

// ---- class auxiliares

.w170 {
  width: 170px;
}

.w375 {
  width: 375px;
}

.color-white {
  filter: brightness(200);
}

.trans1 {
  transform: scale(1.1);
}
.trans2 {
  transform: scale(1.2);
}
.trans3 {
  transform: scale(1.3);
}
.trans4 {
  transform: scale(1.4);
}
.trans5 {
  transform: scale(1.5);
}
.trans6 {
  transform: scale(1.6);
}
.trans7 {
  transform: scale(1.7);
}
.trans8 {
  transform: scale(1.8);
}
.trans9 {
  transform: scale(1.9);
}
