body {
  @include sprites($spritesheet-sprites);
}

// ---- class auxiliares

.w170 {
  width: 170px;
}

.w375 {
  width: 375px;
}

.color-white {
  filter: brightness(200);
}

.trans1 {
  transform: scale(1.1);
}
.trans2 {
  transform: scale(1.2);
}
.trans3 {
  transform: scale(1.3);
}
.trans4 {
  transform: scale(1.4);
}
.trans5 {
  transform: scale(1.5);
}
.trans6 {
  transform: scale(1.6);
}
.trans7 {
  transform: scale(1.7);
}
.trans8 {
  transform: scale(1.8);
}
.trans9 {
  transform: scale(1.9);
}
