// Variables

// WIDTH
$canvas-width: 1920px;
$canvas-height: 1080px;
$gap: 16px;
$b-radius: 60px;
$padding-canvas: 20px;

//COLORS
$green: #8ea52d;
$blue: #28a3d7;
$grey: #505050;
$white: #ffffff;
$grey-lite: #e3e3e3;

//Interface
$border-color: $grey;
$btn-green: $green;
$btn-green-hover: #7b9318;
$btn-green-active: hsl(72, 70%, 28%);
$btn-blue: $blue;
$btn-border: $grey;
$card-background: $white;

$bs-hard: 0px 10px 0px rgba(0, 0, 0, 0.3);
$bs-hard-mini: 0px 3px 0px rgba(0, 0, 0, 0.3);

$text-color: $grey;
