// Variables

// WIDTH
$canvas-width: 1280px;
$canvas-height: 720px;
$gap: 8px;

//COLORS
$green: #8ea52d;
$blue: #28a3d7;
$grey: #505050;

//Interface
$border-color: $grey;
$btn-green: $green;
$btn-green-hover: #7b9318;
$btn-blue: $blue;
$btn-border: $grey;
